*.table
*.png
app/app10_cascadeB/cascadeB.pdf
app/app10_cascadeB/fnn.model
app/app10_cascadeB/test_fnn.lua
app/app11_dimA/dimA.pdf
app/app11_dimA/dimA_mlp.model
app/app11_dimA/fnn.model
app/app11_dimA/scrap.lua
app/app11_dimA/test_fnn.lua
app/app12_net9s/
app/app14_net9sb/
app/app15_feedforward1_many/modelPerfs.table
app/app15_feedforward1_many/summary/
app/app18_net9s/figure/*
app/app18_net9s/result/*
app/app3_cascade4/cascade_noisydata_fitted.pdf
app/app3_cascade4/out.pdf
app/app3_cascade4/out.txt
app/app3_cascade4/out2.txt
app/app3_cascade4/out_test2.txt
app/app3_cascade4/test1.model
app/app3_cascade4/test2.model
app/app3_cascade4_big/err1
app/app3_cascade4_big/err2
app/app3_cascade4_big/out.txt
app/app3_cascade4_big/target.txt
app/app3_fnn/out0.txt
app/app3_fnn/out1.txt
app/app3_fnn/out2.txt
app/app3_fnn/out3.txt
app/app3_fnn/out_test2.txt
app/app3_fnn/test2.model
app/app8_feedforward1/feedforward1.pdf
app/app8_feedforward1/feedforward1_fnn.model
app/app8_feedforward1/feedforward_fnn.pdf
app/app8_feedforward1/fnn.model
app/app8_feedforward1/note.txt
app/app8_feedforward1/test_fnn.lua
app/app9_cascadeA/fnn.model
app/app9_cascadeA/test_fnn.lua
backup/*
playground/*
regulondb/out.txt
regulondb/out.txt.prev
regulondb/processed/backup/
regulondb/tf_list.txt
regulondb/tmp.txt
syntheticData/multifactorial_cascadeA.txt
syntheticData/multifactorial_dimA.txt
syntheticData/multifactorial_feedforward1SKO.txt
syntheticData/multifactorial_net10s.txt
syntheticData/multifactorial_net9s.txt
syntheticData/multifactorial_net9sb.txt
app/app10_cascadeB/test.lua
app/app11_dimA/dataLoad.lua
app/app11_dimA/test.lua
app/app15_feedforward1_many/test.lua
app/app16_dimA_many/test.lua
app/app18_net9s/note.txt
app/app18_net9s/playground3.lua
app/app9_cascadeA/cascadeA.pdf
app/app9_cascadeA/test.lua
regulondb/processed/network_tf_All_noHeader.txt
tmp.txt
